h1 #{title}
+autoForm(id='course-edit' collection=collection doc=doc type=formType)
		+afQuickFields(fields='code, year, quarter')
		div
			button.btn.btn-primary(type='submit') #{submitText}
			button.btn.btn-default.cancel(type='button') Cancel