+element(title=target.code target=target)
	+autoForm(id='course-show' doc=target.doc collection=collection type='disabled')
		+afQuickFields(fields='year, quarter')

	h2 Students
	+schemaTable(collection=target.students settings=tableSettings)
