template(name='alertPanel')
	.alertPanel
		+sAlert(template='alertLayout')

template(name='alertLayout')
	div(id='#{_id}' class='s-alert-box s-alert-#{condition} s-alert-#{position} s-alert-effect-#{effect} s-alert-show' style='#{boxPosition}')
		.s-alert-box-inner
			i(class='#{condition}')
			p #{message}
				if undoable
					b
						a(action='undo') Undo!
		.s-alert-close