h1 #{title}
+autoForm(id='subject-edit' collection=collection doc=doc type=formType)
		+afQuickFields(fields='name, code')
		div
			button.btn.btn-primary(type='submit') #{submitText}
			button.btn.btn-default.cancel(type='button') Cancel